[Desktop Entry]
Name=StreamingServiceLauncher
Comment=Simple Launcher for streaming services
Exec=streaming-service-launcher
Icon=com.xxjsonderuloxx.StreamingServiceLauncher
Terminal=false
Type=Application
Categories=Utility;Network;
Keywords=streaming;netflix;youtube;
StartupWMClass=StreamingServiceLauncher
